@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
header{
    margin-top: 20px;
    margin-left: 20px;
    width: 180px;
    min-height: 100%;
    background-color: transparent;
    border: 1px solid;
    float: left;
}
.logo{
    margin-top: 40px;
    margin-left: 30px;
}
.home, .explorar, .noti, .msg, .itens, .lista, .perfil, .mais {
    margin-left: 10px;
}
.fa-egg{
    color: white;
    font-size: 40px;
    line-height: 30px;
    cursor: pointer;
}
.fa-egg:hover{
    color: grey;
}
.fa-house, .fa-hashtag, .fa-bell, .fa-envelope, .fa-bookmark, .fa-newspaper, .fa-user, .fa-circle-chevron-down{
    color: white;
    font-size: 20px;
}
.fa-house:hover{
    color: grey;
}
.fa-hashtag:hover{
    color: grey;
}
.fa-bell:hover{
    color: grey;
}
.fa-envelope:hover{
    color: grey;
}
.fa-bookmark:hover{
    color: grey;
}
.fa-newspaper:hover{
    color: grey;
}
.fa-user:hover{
    color: grey;
}
.fa-circle-chevron-down:hover{
    color: grey;
}
li{
    position: relative;
    color: white;
    display: inline-block;
    margin: auto;
    width: 180px;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    list-style-type: none;
    margin-top: 20px;
}
li:hover{
    color: grey;
}
ul::marker{
    text-decoration: none;
}
.itens-menu{
    text-decoration: none;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#eggtar{
    color: white;
    font-size: 20px;
    font-family: 'Open-Sans', sans-serif;
}
.publicar-text{
    display: inline-block;
    width: 300px;
    height: 50%;
}
.box{
    background: transparent;
    padding: 5px;
    margin-left: 72px;
    width: 520px;
    height: 240px;
    border: solid 1px grey;
    border-radius: 0px 0px 20px 20px;
    outline: 0;
}
.box input{
    background: transparent;
    display: inline-block;
    border: 0;
    outline: 0;
    width: 32.6rem;
    height: 10rem;
    padding: 5px;
}
.box input::placeholder{
    color: grey;
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
}
.container{
    margin: auto;
    width: 40%;
}
.button-eggtar{
    cursor: pointer;
    background: yellow;
    color: white;
    font-weight: bold;
    border:none;
    margin-top: 8px;
    float:right;
    padding: 20px;
    width: 8rem;
    border-radius: 20px 20px 20px 20px;
}
.button-eggtar:hover{
    background-color: white;
    color: black;
    transition-duration: 1.5s;
}
.pesquisar{
    display: inline-block;
    width: 34em;
    height: 50%;
    float: right;
}
.pesquisar input{
    display: inline-block;
    background-color: rgb(46, 45, 45);
    border: 1px solid rgb(46, 45, 45);
    font-size: 13px;
    color: white;
    font-family: 'Open-Sans', sans-serif;
    border-radius: 20px 20px;
    margin-top: 10px;
    height: 2.8em;
    width: 25em;
}
.pesquisar input::placeholder{
    font-family: 'Open-Sans', sans-serif;
    color: rgb(201, 200, 200);
    font-size: 16px;
}
.pesquisar input:active, .pesquisar input:focus{
    transition-duration: 0.5s;
    outline: 0;
    border: 3px solid yellow;
    max-width: 25em;
    max-height: 2.8em;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.moments{
    display: block;
    padding: 5.2em;
    width: 9.7em;
    height: 20em;
    margin-top: 30px;
    background-color: rgb(46, 45, 45);
    border: 1px solid rgb(46, 45, 45);
    border-radius: 20px 20px 20px 20px;
}
.box-moments{
    display: block;
    position: relative;
    padding: 1em;
    text-align: center;
    color: white;
    width: 14em;
    height: 2em;
    background-color: rgb(46, 45, 45);
    right: 5.6em;
}
.box-moments h1{
    background-color: rgb(46, 45, 45);
    font-family: 'Open-Sans', sans-serif;
}